In [1]:
import pandas as pd

In [13]:
data_penjualan = pd.read_csv("data_penjualan.csv")
nama_barang = pd.read_csv("nama_barang.csv")

In [5]:
## merge, Join, Concatenate

## 1. merge

In [14]:
## merge menggabungkan 2 dataframe secara horizontal dan di hubungkan dengan nilai yang sama dengan 2 column yanbg sama sebgai key

In [27]:
hasil = pd.merge(nama_barang, data_penjualan, on="fid", how="right")

In [201]:
hasil

   fid nama Company  ID_order  Jumlah Order
0    1      Samsung       101           121
1    5          NaN       103           122
2    1      Samsung       105           123
3    2       Lenovo       107           124
4    3        Redmi       109           125
5    4       Iphone       111           126

In [31]:
""" method ada beberapa seperti sql
1. inner = menampilkan data dengan yang sama dengan 
2. right = menampilkan semua dataframe di kanan dan menampilkan data yang sama dengan relasi, jika tidak akan menampilkan nilai NaN
3. left = hampir sama dengan dengan right """

' method ada beberapa seperti sql\n1. inner = menampilkan data dengan yang sama dengan \n2. right = menampilkan semua dataframe di kanan dan menampilkan data yang sama dengan relasi, jika tidak akan menampilkan nilai NaN\n3. left = hampir sama dengan dengan right  '

## 2. join

In [32]:
## join hampir sama dengan merge, yang jhadi pembeda adlah lebih mudah dengan index sebagai key, jadi tidak perlu mendifinisaka on

In [34]:
coba = nama_barang.join(data_penjualan, how="inner")

In [208]:
## jadi index harus sama

## 3. concatenate atau concat()

In [209]:
## menggabungkan 2 nilai dengann vertical dan hampir sama denhan UNION di sql

In [222]:
data1 = pd.DataFrame({
    "A": [1,2,3,4,5],
    "B": [6,7,8,9,10]
})
data2 = pd.DataFrame({
    "A": [11,12,13,14,15],
    "B": [16,17,18,19,20]
})

merged = pd.concat([data1,data2], axis=1, )
merged

   A   B   A   B
0  1   6  11  16
1  2   7  12  17
2  3   8  13  18
3  4   9  14  19
4  5  10  15  20

In [ ]:
""" bs di lihajt bahwa :
axis =1 menggabungkan colom 
axis=0 menggabungkan baris   

Jadi jangan terkecoh ak
"""

## 4. Grouping

In [36]:
# menggabungkan value yang memiliki nama yang sama berdasrakan kolumn tertentu

In [53]:
lepi = pd.read_csv("laptop_price_dataset.csv")

In [223]:
lepi

,fid,Company,Product,TypeName,Inches,ScreenResolution,CPU_Company,CPU_Type,CPU_Frequency (GHz),RAM (GB),Memory,GPU_Company,GPU_Type,OpSys,Weight (kg),Price (Euro)
0,0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,2.3,8,128GB SSD,Intel,Iris Plus Graphics 640,macOS,1.37,1339.69
1,1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel,Core i5,1.8,8,128GB Flash Storage,Intel,HD Graphics 6000,macOS,1.34,898.94
2,2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel,Core i5 7200U,2.5,8,256GB SSD,Intel,HD Graphics 620,No OS,1.86,575.00
3,3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel,Core i7,2.7,16,512GB SSD,AMD,Radeon Pro 455,macOS,1.83,2537.45
4,4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,3.1,8,256GB SSD,Intel,Iris Plus Graphics 650,macOS,1.37,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,1270,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel,Core i7 6500U,2.5,4,128GB SSD,Intel,HD Graphics 520,Windows 10,1.80,638.00
1271,1271,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel,Core i7 6500U,2.5,16,512GB SSD,Intel,HD Graphics 520,Windows 10,1.30,1499.00
1272,1272,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel,Celeron Dual Core N3050,1.6,2,64GB Flash Storage,Intel,HD Graphics,Windows 10,1.50,229.00
1273,1273,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel,Core i7 6500U,2.5,6,1TB HDD,AMD,Radeon R5 M330,Windows 10,2.19,764.00
1274,1274,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel,Celeron Dual Core N3050,1.6,4,500GB HDD,Intel,HD Graphics,Windows 10,2.20,369.00

In [227]:
dataNegara = pd.DataFrame({
    "nama": ["Gilbrant", "Roychan", "Kholbi", "Cuy"],
    "negara":["Indonesia", "Chine", "Indonesia", "Chine"]
    
})

dataNegara.groupby(["negara"])["negara"].count()

negara
Chine        2
Indonesia    2
Name: negara, dtype: int64

In [206]:
lepi.groupby(["Company","GPU_Company"])["Inches"].mean().sort_values(ascending= False)

Company    GPU_Company
MSI        Nvidia         16.442593
Asus       Nvidia         16.338750
HP         Nvidia         16.186538
Acer       Nvidia         16.037143
Dell       Nvidia         15.960526
Asus       AMD            15.927273
HP         AMD            15.909302
Lenovo     Nvidia         15.773171
Dell       AMD            15.734667
Lenovo     AMD            15.664516
Fujitsu    Intel          15.600000
Acer       AMD            15.600000
Apple      AMD            15.400000
Toshiba    Nvidia         15.333333
Razer      Nvidia         15.320000
Samsung    Nvidia         15.300000
LG         Intel          15.066667
Samsung    AMD            15.000000
Chuwi      Intel          14.500000
Xiaomi     Nvidia         14.450000
HP         Intel          14.352601
Dell       Intel          14.347857
Lenovo     Intel          14.343182
Acer       Intel          14.339286
Asus       Intel          14.259016
Toshiba    Intel          14.214286
Vero       Intel          13.825000
Microsoft  Intel          13.500000
Mediacom   Intel          13.457143
Samsung    Intel          13.300000
Huawei     Intel          13.000000
Apple      Intel          12.888889
Razer      Intel          12.500000
Google     Intel          12.300000
Samsung    ARM            12.300000
Name: Inches, dtype: float64

## aggregasi function memngkinkan kita melakuka perhitungan lebih dari sekali

In [129]:
lepi.groupby(["Company"]).agg({"Price (Euro)": ["mean","min","max"]})

          Price (Euro)
                  mean      min      max
Company
Acer        633.464455   174.00  2599.00
Apple      1564.198571   898.94  2858.00
Asus       1123.829737   191.90  3975.00
Chuwi       314.296667   244.99   449.00
Dell       1199.225120   274.90  3659.40
Fujitsu     729.000000   649.00   799.00
Google     1677.666667  1275.00  2199.00
HP         1080.314664   209.00  4389.00
Huawei     1424.000000  1349.00  1499.00
LG         2099.000000  1899.00  2299.00
Lenovo     1093.862215   229.00  4899.00
MSI        1728.908148   839.00  2799.00
Mediacom    295.000000   239.00   389.00
Microsoft  1612.308333   989.00  2589.00
Razer      3346.142857  1029.00  6099.00
Samsung    1413.444444   269.00  1849.00
Toshiba    1267.812500   447.00  2799.00
Vero        217.425000   196.00   260.00
Xiaomi     1133.462500   935.00  1399.95

In [130]:
## di sini bisa di lihat bahwa untuk kolomn Euro di lakukah 3 kali perhitungan

## dan aggregasi ini bs di lakukan lebih dari 1 kolom

In [169]:
lepi.groupby(["Company", "GPU_Company"]).agg({"RAM (GB)": ["mean", "min", "max"],
                                              "Price (Euro)": ["mean", "min", "max"]
 }).sort_values(by=("RAM (GB)", "mean"), ascending= False)

                        RAM (GB)         Price (Euro)
                            mean min max         mean      min      max
Company   GPU_Company
Razer     Nvidia       22.400000  16  32  4119.000000  2599.00  6099.00
Samsung   AMD          16.000000  16  16  1799.000000  1799.00  1799.00
Apple     AMD          16.000000  16  16  2611.806667  2439.97  2858.00
Samsung   Nvidia       16.000000  16  16  1774.000000  1699.00  1849.00
Dell      Nvidia       13.578947   4  32  1841.112632   819.00  3659.40
Toshiba   Nvidia       13.333333   8  16  1403.666667   812.00  1975.00
MSI       Nvidia       13.037037   8  32  1728.908148   839.00  2799.00
Asus      Nvidia       12.825000   4  64  1444.605750   466.00  3975.00
Razer     Intel        12.000000   8  16  1414.000000  1029.00  1799.00
Google    Intel        10.666667   8  16  1677.666667  1275.00  2199.00
LG        Intel        10.666667   8  16  2099.000000  1899.00  2299.00
Lenovo    Nvidia       10.048780   4  32  1271.419878   459.00  4899.00
Xiaomi    Nvidia       10.000000   8  16  1133.462500   935.00  1399.95
HP        Nvidia        9.153846   4  16  1366.437115   659.00  4389.00
Samsung   Intel         8.800000   4  16  1343.000000   269.00  1699.00
Apple     Intel         8.222222   4  16  1389.597222   898.94  2139.97
Toshiba   Intel         8.000000   4  32  1248.404762   447.00  2799.00
Microsoft Intel         8.000000   4  16  1612.308333   989.00  2589.00
Huawei    Intel         8.000000   8   8  1424.000000  1349.00  1499.00
Acer      Nvidia        7.771429   4  16   898.485429   469.00  2599.00
Dell      AMD           7.733333   4  16   797.031867   428.00  1396.00
          Intel         7.671429   2  16  1066.232571   274.90  2680.00
Lenovo    AMD           7.290323   4  16   688.499032   298.00  1229.56
          Intel         7.261364   2  24  1082.535682   229.00  2824.00
Asus      AMD           7.090909   2  16   883.090000   199.00  2199.00
Fujitsu   Intel         6.666667   4   8   729.000000   649.00   799.00
HP        Intel         6.589595   2  16  1087.781792   209.00  3100.00
Asus      Intel         6.229508   2  16   746.551967   191.90  1950.00
HP        AMD           5.813953   4  12   704.263953   258.00  2899.00
Acer      AMD           5.800000   4   8   462.400000   387.00   659.00
          Intel         4.964286   2  12   498.373571   174.00  1149.00
Chuwi     Intel         4.666667   4   6   314.296667   244.99   449.00
Samsung   ARM           4.000000   4   4   659.000000   659.00   659.00
Mediacom  Intel         3.714286   2   4   295.000000   239.00   389.00
Vero      Intel         3.500000   2   4   217.425000   196.00   260.00

In [ ]:
## dan bs di lihat di atas untuk sort_values bs di lakukan dengan mentarget agg dan kolom

In [111]:
lepi.groupby(["GPU_Company"]).agg({"RAM (GB)": "max"}).sort_values(by= "RAM (GB)", ascending=False)

             RAM (GB)
GPU_Company
Nvidia             64
Intel              32
AMD                16
ARM                 4

In [145]:
lepi.loc[lepi["RAM (GB)"] == 64, "GPU_Company" ]

1066    Nvidia
Name: GPU_Company, dtype: object

In [115]:
lepi.iloc[1066]

fid                                           1066
Company                                       Asus
Product                                 ROG G701VO
TypeName                                    Gaming
Inches                                        17.3
ScreenResolution       IPS Panel Full HD 1920x1080
CPU_Company                                  Intel
CPU_Type                            Core i7 6820HK
CPU_Frequency (GHz)                            2.7
RAM (GB)                                        64
Memory                                     1TB SSD
GPU_Company                                 Nvidia
GPU_Type                           GeForce GTX 980
OpSys                                   Windows 10
Weight (kg)                                   3.58
Price (Euro)                                3975.0
Name: 1066, dtype: object

In [138]:
lepi.count()

fid                    1275
Company                1275
Product                1275
TypeName               1275
Inches                 1275
ScreenResolution       1275
CPU_Company            1275
CPU_Type               1275
CPU_Frequency (GHz)    1275
RAM (GB)               1275
Memory                 1275
GPU_Company            1275
GPU_Type               1275
OpSys                  1275
Weight (kg)            1275
Price (Euro)           1275
dtype: int64

In [230]:
lepi["Company"].count()

np.int64(1275)

In [177]:
lepi.head(10)

,fid,Company,Product,TypeName,Inches,ScreenResolution,CPU_Company,CPU_Type,CPU_Frequency (GHz),RAM (GB),Memory,GPU_Company,GPU_Type,OpSys,Weight (kg),Price (Euro)
0,0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,2.3,8,128GB SSD,Intel,Iris Plus Graphics 640,macOS,1.37,1339.69
1,1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel,Core i5,1.8,8,128GB Flash Storage,Intel,HD Graphics 6000,macOS,1.34,898.94
2,2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel,Core i5 7200U,2.5,8,256GB SSD,Intel,HD Graphics 620,No OS,1.86,575.00
3,3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel,Core i7,2.7,16,512GB SSD,AMD,Radeon Pro 455,macOS,1.83,2537.45
4,4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,3.1,8,256GB SSD,Intel,Iris Plus Graphics 650,macOS,1.37,1803.60
5,5,Acer,Aspire 3,Notebook,15.6,1366x768,AMD,A9-Series 9420,3.0,4,500GB HDD,AMD,Radeon R5,Windows 10,2.10,400.00
6,6,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel,Core i7,2.2,16,256GB Flash Storage,Intel,Iris Pro Graphics,Mac OS X,2.04,2139.97
7,7,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel,Core i5,1.8,8,256GB Flash Storage,Intel,HD Graphics 6000,macOS,1.34,1158.70
8,8,Asus,ZenBook UX430UN,Ultrabook,14.0,Full HD 1920x1080,Intel,Core i7 8550U,1.8,16,512GB SSD,Nvidia,GeForce MX150,Windows 10,1.30,1495.00
9,9,Acer,Swift 3,Ultrabook,14.0,IPS Panel Full HD 1920x1080,Intel,Core i5 8250U,1.6,8,256GB SSD,Intel,UHD Graphics 620,Windows 10,1.60,770.00

In [158]:
## tampilkan sebuah nama product, cpu type yang memiliki rata rata,min,max sebuah ram dan di urutkan berdasarkan ram terkecil

In [176]:
lepi.groupby(["Company", "GPU_Company"]).agg({"RAM (GB)": ["mean", "min", "max"]}).sort_values(by=("RAM (GB)", "max"), ascending=False).reset_index()

      Company GPU_Company   RAM (GB)
                                mean min max
0        Asus      Nvidia  12.825000   4  64
1       Razer      Nvidia  22.400000  16  32
2         MSI      Nvidia  13.037037   8  32
3      Lenovo      Nvidia  10.048780   4  32
4        Dell      Nvidia  13.578947   4  32
5     Toshiba       Intel   8.000000   4  32
6      Lenovo       Intel   7.261364   2  24
7      Xiaomi      Nvidia  10.000000   8  16
8          HP       Intel   6.589595   2  16
9       Razer       Intel  12.000000   8  16
10  Microsoft       Intel   8.000000   4  16
11    Samsung      Nvidia  16.000000  16  16
12     Lenovo         AMD   7.290323   4  16
13         LG       Intel  10.666667   8  16
14         HP      Nvidia   9.153846   4  16
15    Samsung         AMD  16.000000  16  16
16    Samsung       Intel   8.800000   4  16
17     Google       Intel  10.666667   8  16
18       Dell       Intel   7.671429   2  16
19       Dell         AMD   7.733333   4  16
20    Toshiba      Nvidia  13.333333   8  16
21       Asus       Intel   6.229508   2  16
22       Asus         AMD   7.090909   2  16
23      Apple       Intel   8.222222   4  16
24      Apple         AMD  16.000000  16  16
25       Acer      Nvidia   7.771429   4  16
26       Acer       Intel   4.964286   2  12
27         HP         AMD   5.813953   4  12
28       Acer         AMD   5.800000   4   8
29    Fujitsu       Intel   6.666667   4   8
30     Huawei       Intel   8.000000   8   8
31      Chuwi       Intel   4.666667   4   6
32    Samsung         ARM   4.000000   4   4
33   Mediacom       Intel   3.714286   2   4
34       Vero       Intel   3.500000   2   4

## Pivot Tabel

In [238]:
## pivot table memungkinkan kita merekab dan meng aggregasi data

In [322]:
result=lepi.pivot_table(index="Company", columns= ["RAM (GB)","GPU_Company"], values="Product", aggfunc="count", fill_value = 0 ).sort_values(by=(2, "Intel")).astype(int)
#result.to_csv("hasil_pivot.csv")
result

RAM (GB)     2         4                    6                8   ...    12  \
GPU_Company AMD Intel AMD ARM Intel Nvidia AMD Intel Nvidia AMD  ... Intel
Company                                                          ...
LG            0     0   0   0     0      0   0     0      0   0  ...     0
Toshiba       0     0   0   0    14      0   0     0      0   0  ...     0
Samsung       0     0   0   1     1      0   0     0      0   0  ...     0
Razer         0     0   0   0     0      0   0     0      0   0  ...     0
Microsoft     0     0   0   0     2      0   0     0      0   0  ...     0
MSI           0     0   0   0     0      0   0     0      0   0  ...     0
Huawei        0     0   0   0     0      0   0     0      0   0  ...     0
Xiaomi        0     0   0   0     0      0   0     0      0   0  ...     0
Google        0     0   0   0     0      0   0     0      0   0  ...     0
Fujitsu       0     0   0   0     1      0   0     0      0   0  ...     0
Chuwi         0     0   0   0     2      0   0     1      0   0  ...     0
Apple         0     0   0   0     1      0   0     0      0   0  ...     0
Vero          0     1   0   0     3      0   0     0      0   0  ...     0
Mediacom      0     1   0   0     6      0   0     0      0   0  ...     0
Dell          0     1  23   0    39      1   0     2      0  43  ...     4
Lenovo        0     3  10   0    69      8   3     2      8  14  ...     4
Asus          1     3   5   0    29      7   0     1      1   3  ...     1
HP            0     3  19   0    70      1  11     1      2  12  ...     0
Acer          0     3   5   0    38     12   1     2      0   4  ...     1

RAM (GB)            16                 24           32            64
GPU_Company Nvidia AMD Intel Nvidia Intel Nvidia Intel Nvidia Nvidia
Company
LG               0   0     1      0     0      0     0      0      0
Toshiba          0   0     4      4     0      0     1      0      0
Samsung          0   1     1      2     0      0     0      0      0
Razer            0   0     1      3     0      0     0      2      0
Microsoft        0   0     1      0     0      0     0      0      0
MSI              0   0     0     31     0      0     0      1      0
Huawei           0   0     0      0     0      0     0      0      0
Xiaomi           0   0     0      1     0      0     0      0      0
Google           0   0     1      0     0      0     0      0      0
Fujitsu          0   0     0      0     0      0     0      0      0
Chuwi            0   0     0      0     0      0     0      0      0
Apple            0   3     1      0     0      0     0      0      0
Vero             0   0     0      0     0      0     0      0      0
Mediacom         0   0     0      0     0      0     0      0      0
Dell             1   9    13     32     0      0     0      7      0
Lenovo           0   2    17     18     1      0     0      3      0
Asus             4   2     3     30     0      2     0      3      1
HP               5   0     7      6     0      0     0      0      0
Acer             2   0     0      4     0      0     0      0      0

[19 rows x 23 columns]

In [275]:
""" 
jadi kolom di atas berarti jumlah product di perusaaan acer yang bekerja sama dengan GPU AMD dengan RAM 2GB itu tidak ada / kosong

"""

' \njadi kolom di atas berarti jumlah product di perusaaan acer yang bekerja sama dengan GPU AMD dengan RAM 2GB itu tidak ada / kosong\n\n'

In [317]:
lepi["CPU_Company"].unique()

array(['Intel', 'AMD', 'Samsung'], dtype=object)